##

## Python Materials API


## Python Materials Genomics (pymatgen)

Core materials analysis powering the Materials Project
High-level methods to access the Materials Project API.

In [15]:
# Accessging the Materials API
# https://github.com/materialsproject/mapidoc
    
from pymatgen import MPRester

# Change "<APIKEY>" to the API Key obtained from MP.
mpr = MPRester("leO5xwKs0R4aVCSf")
data = mpr.query(criteria = {"pretty_formula": "Al2O3"},
                 properties = ["final_energy", "band_gap"])

print(data)

[]

In [8]:
import pandas as pd
df = pd.DataFrame(data) # Convert to Data Frame
df.head()

   final_energy  band_gap
0   -726.710196    3.1881
1   -732.042039    2.9984
2   -159.613924    0.0000
3   -292.807868    3.9676
4   -593.940868    3.0752

In [12]:
df.sort_values("final_energy")

    final_energy  band_gap
23   -732.717520    3.2862
54   -732.093521    3.4840
1    -732.042039    2.9984
41   -731.446712    3.2886
30   -731.256576    3.5076
..           ...       ...
33    -74.285189    4.3996
46    -74.158624    5.7966
48    -72.009083    4.2487
57    -68.145934    1.1355
75    -36.951777    4.0976

[78 rows x 2 columns]

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78 entries, 0 to 77
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   final_energy  78 non-null     float64
 1   band_gap      78 non-null     float64
dtypes: float64(2)
memory usage: 1.3 KB

In [17]:
df.shape

(78, 2)